<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Welcome to the home page of marks calculation</h1>
    <form action="/calculate", method="get">
        <button type="submit" class="btn btn-primary btn-block btn-large">Take me to Calculation page</button>
    </form>
    <br>
    <form action="/index", method="get">
        <button type="submit" class="btn btn-primary btn-block btn-large pt-20">Take me to index page</button>
    </form>
    <br>
</body>
</html>